@import "./styles/markdown-toc.css";
@import "./styles/prism-atom-dark.css";
@import "./styles/markdown-elements.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  min-height: 100vh;
  min-height: 100svh;
  font-family: sans-serif;

  @apply flex flex-col items-center justify-center dark:bg-dark dark:text-gray-100 text-gray-700;
}

.frame {
  @apply w-full px-4 md:px-28 py-10;
}
